.hero {
  background: url(../../Assests/Images/Hero/banner-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1px;
  background-position: center;
  margin-bottom: 97px;
}
.hero .hero-content {
  display: flex;
  align-items: center;
}
.hero .hero-content .hero-left .hero-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #DF6951;
}
.hero .hero-content .hero-left .hero-heading {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin: 24px 0 30px;
}
.hero .hero-content .hero-left .hero-heading span {
  position: relative;
}
.hero .hero-content .hero-left .hero-heading span img {
  position: absolute;
  bottom: 19px;
  left: -30px;
}
.hero .hero-content .hero-left .hero-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5E6282;
  max-width: 477px;
}
.hero .hero-content .hero-left .hero-button {
  display: flex;
  gap: 44px;
  margin-top: 43px;
}
.hero .hero-content .hero-left .hero-button .find-more {
  border: none;
  padding: 19px 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: #F1A501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
}
.hero .hero-content .hero-left .hero-button .play {
  display: flex;
  align-items: center;
  gap: 21px;
  border: none;
  background: none;
}
.hero .hero-content .hero-left .hero-button .play i {
  font-size: 52px;
  color: #DF6951;
}

