.footer .footer-top .left .logo .footer-logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  margin-top: -10px;
  color: #181E4B;
}
.footer .footer-top .left .logo .footer-logo-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
  margin-top: 19px;
  color: #5E6282;
  width: 207px;
}
.footer .footer-top .middle .footer-list-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  /* or 26px */
  margin-bottom: 34px;
  color: #080809;
}
.footer .footer-top .middle ul {
  padding-left: 0px;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */
  /* TEXT CLR */
  color: #5E6282;
}
.footer .footer-top .middle ul li {
  margin-top: 12px;
}
.footer .footer-top .right .social-logo {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: -10px;
}
.footer .footer-top .right .social-logo .footer-insta-logo {
  background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.footer .footer-top .right .discover-apps {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  /* identical to box height, or 25px */
  letter-spacing: 0.005em;
  margin: 26px 0 16px;
  color: #5E6282;
}
.footer .footer-top .right .apps {
  display: flex;
  align-items: center;
  gap: 7px;
}
.footer .footer-bottom .copyright {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 82px 79px;
  color: #5E6282;
}
