.testimonials {
  margin-bottom: 120px;
}
.testimonials .main-content .testimonial-left {
  margin-left: 36px;
}
.testimonials .main-content .testimonial-left .testimonial-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #5E6282;
}
.testimonials .main-content .testimonial-left .testimonial-heading {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
  margin: 8px 0 82px;
}
.testimonials .main-content .testimonial-right {
  position: relative;
  display: flex;
  align-items: center;
}
.testimonials .main-content .testimonial-right .author {
  padding: 28px 68px 34px 34px;
  max-width: 504px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  position: relative;
}
.testimonials .main-content .testimonial-right .author .author-image {
  position: absolute;
  top: -34px;
  left: -37px;
}
.testimonials .main-content .testimonial-right .author .author-words {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5E6282;
}
.testimonials .main-content .testimonial-right .author .author-name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
}
.testimonials .main-content .testimonial-right .author .author-location {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5E6282;
}
.testimonials .main-content .testimonial-right .right-slide-arrow {
  display: flex;
  flex-direction: column;
  gap: 57px;
  position: absolute;
  right: 0;
}
